* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: black;
	overflow-x: hidden;
}

ul {
	padding: 0;
	margin: 0;
	width: 500px;
}

li {
	display: inline;
	list-style-type: none;
	margin-left: 12%;
	color: black;
	border: solid 3px;
	border-radius: 5px;
	padding: 5px; 
}

li:hover {
	border-color: blue;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

.brand {
	background-color: #f1c40f;
	border: solid 3px;
	text-align: center;
	border-radius: 5px;
	box-shadow: -2px 2px #ffdd59;
	padding: 1px 8px;
	font-size: 150%;
}

.brand:hover {
	border-color: blue;
}

nav {
	background-image: linear-gradient(to right,#ffd32a,#c9f6fe);
	width: 200%;
	animation: bganimation 15s infinite;
}

.holder {
	display: flex;
	padding: 10px 15px;
}

.list-holder {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.carousel-holder {
	
	margin: 5px 30px;
	border: solid 1px; 
}

.carousel-item > img{
  height: 400px;
}

.genre-holder {
	margin: 10px 50px;
	margin-top: 40px;
}

.genre-category {
	color: white;
	font-size: 25px;
	font-weight: bold;
	border-bottom: solid 1px;
	padding-bottom: 15px;
	border-color: white;

}

.card > img{
	height: 250px;

}

.card-img-overlay {
	background-color: black;
	opacity: 0.8;
	height: 50px;
	top: 200px;
	display: flex;
	color: white;
	font-weight: bold;
	justify-content: center;
	align-items: center;
}

.card-holder {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

.card {
	float: left;
}

.copyrights {
	margin-left: 40px;
}

footer {
	margin-top: 40px;
	background-color: gold;
}

@keyframes bganimation {

	0% {
		background-position: right;
	}

	50% {
		background-position: left;
	}

	100% {
		background-position: right;
	}

}

/****** Movies Page Styles ******/

.dropdown:hover > .dropdown-menu {
	display: block;
}

.body-holder {
	overflow: hidden;
}

.search-drop-cards {
	display: flex;
	margin: 10px 30px;
	justify-content: space-between;
	align-items: center;
}


.search {
	width: 70%;
	padding: 1px;
}
.search-holder {
	display: flex;
	border: solid 1px;
	align-items: center;
}

input {
	width: 100%;
	text-align: center;
	border: none;
}

.movie-holder {
	margin: 10px 30px;
	position: relative;
}

.movie {
	margin: 10px 20px;
	width: 200px;
	height: 200px;
	float: left;
	background-image: url(images/card.jpg);
	background-size: cover;
	background-position: 0% 20%; 
	text-align: center;
	position: relative;
}

.mv-details {
	position: absolute;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	bottom: 0px;
	color: white;
}